include __init__.py
include AUTHORS.rst
include CONTRIBUTING.md
include HISTORY.rst
include LICENSE
include LICENSE_THIRD_PARTY
include README.md
include requirements.txt
include test_requirements.txt
include start_xmlcli.bat
include start_xmlcli.sh

recursive-include src/xmlcli/cfg *

include examples/*

recursive-include src/xmlcli/modules *

include src/xmlcli/out/.gitignore

include src/xmlcli/messages.json
include src/xmlcli/xmlcli.config
recursive-include src/xmlcli/common *
recursive-include src/xmlcli/access/base *
recursive-include src/xmlcli/access/generic *
recursive-include src/xmlcli/access/linux *
recursive-include src/xmlcli/access/stub *
recursive-include src/xmlcli/access/winrwe *

include tests/__init__.py
include tests/bandit_scan.bat
include tests/CommonTests.py
include tests/tests.config
include tests/UefiParserTest.py
include tests/UnitTestHelper.py
include tests/XmlCliTest.py

include src/xmlcli/tools/*
include docs/user_guide/*

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.md *.PNG *.ini *.cfg *.config

global-exclude Rw.exe Rw.ini

exclude MANIFEST.in

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
