# Please use `/` only as path separator, it'll allow to work the test suite independent of OS (windows/linux/mac/efi)
[GENERAL_CONFIG]
# default general configurations
# VERSION defines version of the test suite
VERSION = 0.0.1

[TEST_SETTINGS]
ONLINE_MODE = True
OFFLINE_MODE = True
ACCESS_METHOD = linux
# Absolute directory path where BIOS images has been stored
BIOS_IMAGES_DIR = /bios_images
RUN_OPTIONAL_TEST = False
LITE_FEATURE_TESTING = True
NEW_DRIVER_FILE = new_driver.ffs
REPLACED_IMAGE_FILE = replaced_image.rom

[KNOB_TESTING]
SKIP_RANDOM_KNOB_TESTING = False
SKIP_BATCH_KNOB_TESTING = False
SKIP_INDIVIDUAL_KNOB_TESTING = True
# Subject to the length of specific knob type the minimum number would be choose among total length of knob
# and specified below max knobs to be selected
MAXIMUM_RANDOM_KNOBS_PER_TYPE = 1
# absolute path to the ini file for ini file from which knobs are to be toggled
KNOB_FILE_TESTING = xmlcli/out/BiosKnobs.ini

[LOG_SETTINGS]
# Set logging title which is to be displayed in log file
LOGGER_TITLE = XmlCli
# Set logging title which is to be displayed in log file
SUBMODULE_TITLE = UnitTest
# Toggle whether to log the output processed by test_suite to the file or not
FILE_LOG = True
# Toggle whether to log the output processed by test_suite to the console or not
CONSOLE_STREAM_LOG = True
# directory name for storing log files (relative to the root directory of xmlcli root directory)
LOG_FILE_LOCATION = xmlcli/out/logs
# OPTIONS for LOG_LEVEL = DEBUG|INFO|ERROR|WARN
LOG_LEVEL = DEBUG
# Defines format of logging
LOG_FORMAT = [%(filename)s:%(lineno)3s - %(funcName)20s() T%(asctime)s [%(name)-8s] [%(levelname)s]]: %(message)s
# Date format for logging
# LOG_DATE_FORMAT = %Y-%d-%m
LOG_DATE_FORMAT = %Y-%d-%m_%H.%M.%S
